<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MyTest.dao.DictTypeInforMapper" >
  <resultMap id="BaseResultMap" type="MyTest.bean.DictTypeInfor" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, `NAME`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from RPOLICE.DICT_TYPE_INFOR
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from RPOLICE.DICT_TYPE_INFOR
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="MyTest.bean.DictTypeInfor" useGeneratedKeys="true" keyProperty="id" >
    insert into RPOLICE.DICT_TYPE_INFOR (`NAME`)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="MyTest.bean.DictTypeInfor" useGeneratedKeys="true" keyProperty="id" >
    insert into RPOLICE.DICT_TYPE_INFOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        `NAME`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="MyTest.bean.DictTypeInfor" >
    update RPOLICE.DICT_TYPE_INFOR
    <set >
      <if test="name != null" >
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="MyTest.bean.DictTypeInfor" >
    update RPOLICE.DICT_TYPE_INFOR
    set `NAME` = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>